.blog{
  padding: 100px 0 120px 0;
  background: #F5F5F7;
  .heading{
      margin-bottom: 50px;
      text-align: left;
      h3{
          font-size: 36px;
      }
     hr{
       width: 50px;
       height: 4px;
       opacity: 1;
     }
  }
  .slider-cont {
      background-color: unset;
      text-align: left;
  }
}



